@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: bisque;
}


.main {
    display: flex;
    justify-content: space-around;
}

.search-input {
    display: flex;
    border-top: 2rem groove cornflowerblue;
    border-bottom: 2rem groove cornflowerblue;
    
}

.search-inventory {
    margin-left: 12%;
}





#display {
    border-collapse: collapse;
    width: 100%;
}

#display td,
#display th {
    border: 1px solid #ddd;
    padding: 8px;
}

#display tr:nth-child(even) {
    background-color: #f2f2f2;
}

#display tr:hover {
    background-color: #ddd;
}

#display th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color: #720d48;
    color: white;
}


button {
    background-color: #720d48;
    border: none;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
}


input,
#search {
    width: 8rem;
    padding: 2px 4px;
    margin: 6px 10px;
    box-sizing: border-box;
}