* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 132, 255);
    margin: 0;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;
  }

  h1 {
    margin: 20px 20px;
  }

  h2 {
    background-color: aqua;
    font-size: 12px;
  }

  p {
    margin: 10px 10px;
  }

  /*  Game container */

  .container {
    font: normal;
    display: grid;
    justify-content: center;
   gap:2rem;
    grid-template-columns: repeat(6, 1fr);

  }

  .cards {
    max-height: 300px;
    width: 170px;
    border: 1px solid green;
    background-color: blueviolet;
  }

  .cards .image img {
    height: 160px;
    width: 100%;
    object-fit: cover;
  }

  .cards.image img {
    height: 150px;
    width: 100%;
  }

  button {
    margin: 5px 5px;
    padding: 5px;
    width: 70px;
    border-radius: 7px;
    background-color: rgb(155, 14, 14);
  }

  input {
    margin: 5px auto 5px auto;
    width: 25vw;
  }