* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #0000ff, #008000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-size: 18px;
}

h2 {
    margin: 1.5rem auto 1.5rem;
}

p { 
    margin: 2rem;

}

.container {
    background-color: rgb(255, 255, 255);
    max-width: 450px;
    min-width: 300px;
    height: 100vh;
    color: #333;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 5px 5px #333;
  }

  .colors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  input[type='color'] {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
  }

  input[type="radio"] {
    display: none;
  }

  input[type='radio']:checked + label {
    visibility: none;
    cursor: pointer;
}


/* .positions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.position {
  display: inline-block;
}

label {
  margin: 0.5rem;
  background-color: #545454;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
} */

