* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    font-family: roboto, sans-serif;
    background-image: url("https://miro.medium.com/max/800/0*JUUIaKYvIBQq9p9y.jpg");
    background-position: center/cover;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-weight: 300;
    margin: 20px 20px;
}

p {
    text-align: center;
    font-weight: thin;
    margin: 30px 30px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#text-zone {
    text-align: center;
    color: rgba(25, 207, 40);
    line-height: 2rem;
}


.circles {
    border-radius: 50px;
    border: transparent;
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 20px 10px 0 10px;
    padding: 40px;
}

.active-state {
    background-image: url(https://c.tenor.com/spaaY5IFwu4AAAAC/bird-owl.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button {
    text-align: center;
}

.btn {
    border: 1px solid;
    border-radius: 5px;
    background-color: brown;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    margin: auto;
}

.btn:hover {
    background-color: rgb(17, 1, 1);
}

#stop {
    display: none;
}
/* MODAL */

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    background: white;
    min-height: 20vh;
    width: 50vw;
    border-radius: 0.3rem;
    color: #333;
    padding: 3rem;
    box-shadow: 0 0 15px;
    text-align: center;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
}
