button {
    color: rgb(61, 43, 226);
    block-size: 12px;
    padding: 15px;
    margin: 20px;
    border: 1px solid;
    text-align: justify;
    background-color: brown;
}

td  {
    display: block;
    border: 2px solid black;
    border-radius: 1px;
    position: static;
    height: 12px;
    width:  20px; 
  }

th, td {
    padding: 5px;
    text-align: left;

  }
